.login-container{
    max-width: 700px;
    margin: auto;
}
.login-header{
    text-align: center;
    font-size: 55px;
}
.underline{
    width: 100%;
    height: 2px;
    background-color: #DEDEDE;
}
.login-page{
   height: 80vh;
}
.form-control:focus {
    border-color: rgba(0, 0, 0, 0.25) ;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.425);
} 