.hero{
    height: 85vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.hero-text{
    width: 80%;
}
.title{
    font-size: 50px;
}