/* .hero{
    height: 85vh;
    width: 100%;
    overflow: hidden;
    background-color: white;
} */
.hero {
    height: 85vh;
    width: 99% !important;
    margin: auto;
    position: relative;
    width: 100%;
    height: 85vh; 
    overflow: hidden;
    background-color: white;
    position: relative;
}

/* img{
    object-fit: cover;
    object-position: top;
} */
 .hero img {
   position: absolute;  
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: top;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    z-index: 1;
}




.title{
    font-size: 50px;
}

@media (max-width: 768px) {
  .hero-text {
    width: 100%;
    padding-left: 40px;
    padding-right: 10px;
    /* background-color: aqua; */
  }
  .hero-text p{
    width: 90% !important;
    /* background-color: red; */
  }
}